.controls {
    text-align: right;
    height: 20px;
    font: 10px/20px sans-serif;
    margin-bottom: 30px;
    border: 2px solid #F6F6FF;
    border-top: none;
    padding: 3px 10px;
    background: #F6F6FF;
    -webkit-box-shadow: 0px 0px 5px #556;
}
.controls .username {
  font-weight: bold;
  float: left;
}
.controls .logout {
  margin-left: 5px;
  float: right;
}
body { margin: 0 }
#timeline {
  width: 606px;
  margin: 0 auto;
  padding: 0 80px 20px;
}
.item {
  margin-bottom: 50px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 25px;
}

.item .image {
    display: inline-block;
    width: 306px;
}
.item .image img {
    border: 0;
}
.item .meta {
    display: inline-block;
    vertical-align: top;
    width: 235px;
    padding-right: 15px;
    text-align: right;
    white-space: normal;
}


.comments {
    padding-top: 10px;
}
.comment {
    margin-top: 10px
}

.comment .caption {
    font-style: italic;
    color: #777;
    margin: 0;
}
.comment .caption:before {
    content: "“";
    color: #999;
}
.comment .caption:after {
    content: "”";
    color: #999;
}
.comment .author {
    color: #999;
    font-size: 0.8em;
    margin: 0;
}
.comment .author:before {
    content: "— ";
}

.comments form {
    position: relative;
}
.comments form label {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #AAA;
    font-style: italic;
    font-size: 11px;
}
.comments form input[type=text] {
    width: 190px;
}


.item .user .profilepic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.item .user .username {
  font: 28px/30px Arno Pro, serif;
  vertical-align: top;
}
.item .taken_at {
  font-size: 0.75em;
  font-style: italic;
  color: #999;
}



.login {
    padding: 10px 100px 10px;
    width: 315px;
    margin: 50px auto;
    border: 3px solid #E0E0EA;
    background: #F6F6FF;
    border-radius: 5px;
}
.login h2 {
    font: 22px "Arno Pro", Georgia, "Times New Roman", Times, serif;
    margin-bottom: 25px;
}
.login .field {
  margin: 10px 0;
}
.login .field label {
  display: block;
  font: 14px/14px "Palatino", Georgia, "Times New Roman", Times, serif;
  color: #777;
}
.login .field input {
  font-size: 23px;
  width: 300px;
}
.login .disclaimer {
    margin-top: 15px;
    font-size: 0.7em;
    color: #999;
}
.login .disclaimer a {
    color: #666;
}